<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <meta-data
        android:name="org.godotengine.plugin.v2.WebViewTest"
        android:value="dev.toastbits.webviewtest.plugin.Plugin" />
    </application>
</manifest>
